@import "tailwindcss";


@theme inline {
    --font-sans: var(--font-manrope);
    --font-mono: var(--font-major-mono);
}
h1 {
    @apply font-mono
}
p {
    @apply font-sans
}
a {
    @apply text-zinc-100 hover:text-red-400 transition-colors;
}