---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
         <div class="space-y-4 sm:space-y-12">
               <H1> Amanda Helmer </H1>
</div>
               <p>
                   I am a focused and disciplined professional with a strong commitment to clear results. My work reflects a practical approach to problem-solving and a steady drive to improve processes. I value efficiency, accuracy, and purpose in every project. My goal is to deliver work that is straightforward, reliable, and built on sound judgment, while continuing to expand my skills in a fast-moving digital environment.
               </p>


     </div>
</InfoLayout>
