---
const { className } = Astro.props;
---

<div class={`flex items-center gap-4 ${className}`}>
    <span class="relative items-center justify-center size-3"><span class="absolute inline-flex h-full w-full animate-ping duration-1000 rounded-full bg-zinc-400 opacity-75"></span>  </span>

      <b class="inline-flex text-zinc-200 opacity-50"> Available For Work </b>
</div>
